// Startup

// spawn-at-startup "bash" "-c" "wl-paste --watch bash -c 'wl-paste --list-types | grep -q x-kde-passwordManagerHint || wl-paste | cliphist store'"
spawn-at-startup "~/.cargo/bin/wl-gammarelay-rs"
spawn-at-startup "bash" "-c" "sleep 1 && /usr/bin/busctl --user set-property rs.wl-gammarelay / rs.wl.gammarelay Gamma d 0.9"

// General
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
hotkey-overlay {
  skip-at-startup
}

// environment {
//   XDG_CURRENT_DESKTOP "niri"
//   QT_QPA_PLATFORM "wayland"
//   ELECTRON_OZONE_PLATFORM_HINT "auto"
//   QT_QPA_PLATFORMTHEME "gtk3"
//   QT_QPA_PLATFORMTHEME_QT6 "gtk3"
//   TERMINAL "ghostty"
// }

// Enable focusing on newly-opened links in browser, or when clicking tray icon
debug {
  honor-xdg-activation-with-invalid-serial
}

workspace "admin";
workspace "browser";

layout {
  gaps 8

  empty-workspace-above-first

  center-focused-column "on-overflow"
  always-center-single-column

  background-color "transparent"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    off

    width 2

    active-color   "#c8cdd5"
    inactive-color "#5c6370"
    urgent-color   "#e06c75"
  }

  border {
    width 2

    active-color   "#c8cdd5"
    inactive-color "#5c6370"
    urgent-color   "#e06c75"
  }

  shadow {
    on

    softness 1
    spread 0.5
    offset x=0 y=0

    color "#000"
  }

  tab-indicator {
    active-color   "#c8cdd5"
    inactive-color "#5c6370"
    urgent-color   "#e06c75"
  }

  insert-hint {
    color "#61afef80"
  }
}

include "binds.kdl"
include "input.kdl"
include "layerrules.kdl"
include "layout.kdl"
include "outputs.kdl"
include "windowrules.kdl"

// include "dms/alttab.kdl"
// include "dms/binds.kdl"
// include "dms/colors.kdl"
// include "dms/layout.kdl"
// include "dms/wpblur.kdl"
// include "dms/cursor.kdl"
// include "dms/outputs.kdl"
// include "dms/windowrules.kdl"

include "./noctalia.kdl"
include "./noctalia/config.kdl"
include "./noctalia/binds.kdl"
include "./noctalia/events.kdl"
