layer-rule {
  match namespace="^quickshell$"
  place-within-backdrop false
}

layer-rule {
  match namespace="dms:bar"
  shadow {
    on
    draw-behind-window true
    softness 0
    spread 0
    offset x=0 y=0
    color "#000b"
  }
}

layer-rule {
  match namespace="^noctalia-bar-content-"
  shadow {
    on
    draw-behind-window true
    softness 0
    spread 0
    offset x=0 y=0
    color "#0006"
  }
}

layer-rule {
    match namespace="^noctalia-overview-"
    place-within-backdrop true
}
